.swiper-button-next,
.swiper-button-prev
{
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 60px;
    height: 60px;
    margin: auto;

    transition: .2s linear;
    transform: none;

    color: #dbdced;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none !important;
    background: #f4f7fc;
}

.swiper-button-prev
{
    left: -30px;
}

.swiper-button-next
{
    right: -30px;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 12px;
    height: 22px;

    filter: invert(15%);
}

.swiper-button-prev .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #fff;
    background: #1b8cd1;
}

.swiper-button-next:hover .icon,
.swiper-button-prev:hover .icon
{
    filter: invert(0%);
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: relative;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 20px;
    margin-top: 10px;

    pointer-events: none;
}

.swiper-pagination-bullet
{
    display: block;

    width: 8px;
    height: 8px;

    transition: background .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 50%;
    background: #beeaff;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 12px !important;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #1b8cd1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
